$animation-time: .16s;

//$body-bg: #f0f0f0;

$body-color: #616f82;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;

$font-size-base: 0.85rem;

$grid-gutter-width: 30px;

//$container-large-desktop: 1250px + $grid-gutter-width;

$navbar-height: 70px;

//$border-radius-base: 0;

$navbar-padding-horizontal: $grid-gutter-width;

$sizes: (
  60: 60%
);
