.header {
  padding-top: 20px;
  .page-title,
  .btn {
    display: inline-block;
    vertical-align: baseline;
  }
  .page-title {
    margin-right: 0.7em;
  }
  .btn {
    margin-left: 0.5em;
    &:first-child {
      margin-left: 1.5em;
    }
  }
  .fa-stack {
    margin-right: 0.7rem;
  }
}

.btn-lang {
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
}
