div
  div.clearfix.header
    h1.page-title Home
    .btn.btn-default.btn-lg.btn-lang.bold(@click="switchLang") {{lang}}
    save-button(:fn="save")
  page-tabs
    page-tab#ui(title="Giao diện trang chủ")
      p.text-danger
        i Tính năng đang trong giai đoạn phát triển :)
      dropdown(caption="Thêm một Section mới" :list="admin.newLayout" @action="addNewLayout")
      .w-75.mt-4.pb-4(v-if="layout!==null && layout.length>0")
        draggable(v-model="layout")
          page-section-item(v-for="item in layout" :key="item.id" :item="item" @update="data=>updateLayoutItem(item.id, data)" @remove="()=>removeLayoutItem(item.id)")
    page-tab#slide-panel(title="slider")
      list-management.row(v-model="slider", :new="newSlide")
        template(slot-scope="props")
          .col-sm-4
            label
              i.fa.fa-desktop.fa-lg.mr-2
              | Phiên bản Desktop
            br
            .btn.btn-primary.btn-sm.mt-2(@click="showModal=true") Tải ảnh Slider (Desktop)
            img.mt-1(v-if="props.current.image[lang]" :src="props.current.image[lang].thumbnails['300w']")
            select-img-dialog(:show="showModal" @close="showModal=false" v-model="props.current.image[lang]")
            p.font-italic Kích thước hình ảnh nên là 870x470px hoặc tỉ lệ tương đương
          .col-sm-4
            label
              i.fa.fa-mobile.fa-lg.mr-2
              | Phiên bản Mobile
            br
            .btn.btn-primary.btn-sm.mt-2(@click="showModalMobile=true") Tải ảnh Banner (Mobile)
            img.mt-1(v-if="props.current.mobile[lang]" :src="props.current.mobile[lang].thumbnails['300w']")
            select-img-dialog(:show="showModalMobile" @close="showModalMobile=false" v-model="props.current.mobile[lang]")
            p.font-italic Tỉ lệ hình ảnh nên là 5:4
          .col-sm-8
            .form-group
              label Đường dẫn khi click vào slide (bỏ trống nếu không cần thiết)
              input.form-control(v-model="props.current.url")
          .col-sm-12
            button.btn.btn-success(@click="props.add") {{props.mode==='new'?'Thêm Slide':'Cập nhật Slide'}}
          .col-sm-12
            hr
          draggable.col-sm-12(v-model="slider")
            transition-group.row(tag="div")
              .col-sm-3(v-for="(slide,index) in slider", :key="index")
                .card
                  img.card-img-top(:src="slide.image[lang].thumbnails?slide.image[lang].thumbnails['600w']:''")
                  .card-body
                    p.text-secondary(v-if="slide.url.length>0")
                      small
                        i.fa.fa-link
                        | {{slide.url}}
                    button.btn.btn-secondary.mr-1(@click="props.update(slide)") Chỉnh sửa
                    button.btn.btn-danger(@click="slider.splice(index, 1)") Xóa
    page-tab#other-panel(title="Cam kết & thông tin khác")
      h4 Cam kết của chúng tôi
      .row
        .col-sm-6(v-for="(c,index) in commit[lang]")
          .form-group
            label Cam kết {{index + 1}}
            input.form-control(type="text", v-model="c.text")
      br
      h4 Thông tin khác
      .row
        .col-sm-6
          .form-group
            label Link Fanpage
            input.form-control(type="text", v-model="fanpage")
